<header>
  <img src="./img/logo.png" alt="logo" />
  <div class="menu">
    <a href="/">HOME</a>
    <a href="/about">ABOUT</a>
    <a href="/login">LOGIN</a>
    <a href="/mi-presento">MI PRESENTO</a>
  </div>
</header>