* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

a:hover {
  cursor: pointer;
  color: rgb(226, 98, 63);
}

.color {
  color: rgb(226, 98, 63);
}

.header {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: rgb(227, 227, 227);
  position: fixed;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

h1 {
  font-size: 18px;
}

.cart_button {
  width: 28px;
  object-fit: contain;
  cursor: pointer;
}

.button_counter {
  height: 20px;
  width: 20px;
  background-color: rgb(242, 98, 73);
  border-radius: 50%;
  position: absolute;
  right: 12px;
  top: 12px;
}

.tendina {
  background-color: white;
  border: 0.5px solid rgb(151, 151, 151);
  position: absolute;
  width: 350px;
  height: 450px;
  right: 20px;
  top: 80px;
  z-index: 2;
  transition: all 0.35s;
  padding: 20px;
  display: none;
  overflow: scroll;
}

.cart_element {
  margin-bottom: 5px;
}

.x_button {
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.quantityEl {
  position: absolute;
  right: 60px;
}

.cart_price {
  color: rgb(85, 85, 85);
}

.line {
  border: 0.5px solid rgb(151, 151, 151);
  margin-bottom: 20px;
  margin-top: 2px;
}

.productsList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  padding: 0px 25px;
  margin-top: 100px;
}

.card {
  width: 300px;
  border-bottom: 0.5px solid rgb(151, 151, 151);
  overflow: hidden;
  margin-bottom: 20px;
}

.img_card {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.title_card {
  margin: 6px 0px;
  font-size: 16px;
  color: rgb(85, 85, 85);
  font-weight: 400;
}

.description_card {
  font-size: 16px;
  margin-bottom: 8px;
}

.button {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 45px;
  color: white;
  padding: 8px 20px;
  margin: 12px 0px;
  cursor: pointer;
}

.button_img {
  width: 22px;
}

.show {
  display: inline !important;
}

.spinner {
  font-size: 28px;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: transparent;
  -webkit-transform-origin: center -0.2222em;
  -ms-transform-origin: center -0.2222em;
  transform-origin: center -0.2222em;
  animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
  animation-delay: 0.083s;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
  animation-delay: 0.166s;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
  animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
  animation-delay: 0.332s;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
  animation-delay: 0.415s;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
  animation-delay: 0.498s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
  animation-delay: 0.581s;
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
  animation-delay: 0.664s;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
  animation-delay: 0.747s;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
  animation-delay: 0.83s;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
  animation-delay: 0.913s;
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
  0% {
    background-color: #69717d;
  }

  100% {
    background-color: transparent;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
}

label {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-top: 15px;
}

form input {
  height: 40px;
  border: 2px solid black;
  padding-left: 20px;
}

#postFormCategory {
  margin-top: 60px;
  border-bottom: 0.5px solid rgb(151, 151, 151);
}

form textarea {
  height: 40px;
  border: 2px solid black;
  padding: 20px;
}

form textarea,
form select {
  height: 40px;
  border: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
}

option {
  padding-right: 20px;
}

.button_submit {
  width: fit-content;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
}

select:required:invalid {
  color: #666;
}
