@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.CartModal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}

.CartModal_overlay {
  height: 100vh;
  width: 100vw;
  background-color: #363636;
  opacity: 0.5;
  cursor: pointer;
}

.CartModal_content {
  position: absolute;
  overflow-y: scroll;
  top: 0;
  right: 0;
  height: 100vh;
  width: 400px;
  background-color: #efefef;
}

.CartModal_header {
  position: fixed;
  top: 0;
  width: 400px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  background-color: #efefef;
  box-shadow: 0 -1px #cfcfcf inset;
  z-index: 6;
}

.CartModal_headerTitle {
  font-size: 16px;
  font-family: Inconsolata, sans-serif;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: #1c1b1b;
}

.Cart__listProduct {
  position: absolute;
  overflow-y: scroll;
  margin-top: 80px;
  padding: 30px;
  padding-bottom: 120px;
}

.CartModal__close {
  cursor: pointer;
  padding: 5px;
}

.CartModal_footer {
  position: fixed;
  bottom: 0px;
  width: 400px;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  font-size: 13px;
  font-family: Inconsolata, sans-serif;
  color: #6a6a6a;
  background-color: #efefef;
  box-shadow: 0 1px #cfcfcf inset;
  z-index: 6;
}

.CartModal_footer button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 14px 28px;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.2em;
  font-family: Inconsolata, sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.emptyCart {
  position: absolute;
  width: 200px;
  top: 405px;
  left: 100px;
  font-family: Inconsolata, sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #1c1b1b;
  z-index: 6;
}
